@model IEnumerable<NuorisoTaloKortti.Models.Huoltajat>

@{
    ViewBag.Title = "Huoltajat";
}

<h2>Huoltajat</h2>

<p>
    @Html.ActionLink("Lisää uusi", "Create")
</p>

<table class="table table-striped table-bordered">
    <tr>
        <th>Nimi</th>
        <th>@Html.DisplayNameFor(model => model.Puhelinnumero)</th>
        <th>@Html.DisplayNameFor(model => model.Osoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Etunimi)
                @Html.DisplayFor(modelItem => item.Sukunimi)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Puhelinnumero)</td>
            <td>@Html.DisplayFor(modelItem => item.Osoite)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postinumero)
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HuoltajaId }) |
                @Html.ActionLink("Details", "", new { id = item.HuoltajaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HuoltajaId })
            </td>
        </tr>
    }

</table>