<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

</head>
<body>
    @{

        if (Session["Kayttajanimi"] != null)
        {
            if (Session["Yllapito"].ToString() == "True")
            {

                Html.RenderPartial("_NavabarLoggeInAdmin");
            }
            else
            {
                Html.RenderPartial("_NavabarLoggeInNuori");

            }

        }
        else
        {
            Html.RenderPartial("_NavBarLoggedOut");

        }
    }

    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Kortti sovellus</p>
    </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/bootstrapkaks")
    @RenderSection("scripts", required: false)
</body>
</html>
