@model IEnumerable<NuorisoTaloKortti.Models.Nuoret>

@{
    ViewBag.Title = "View";
}

<center>
    @foreach (var item in Model)
    {
        var kuvalupa = "";

        if (item.Kuvauslupa.ToString() == "True")
        {
            kuvalupa = "saa otta kuva !";
        }
        else
        {
            kuvalupa = "ei saa otaa kuva !";
        }
        if (item.Kayttajanimi.ToString() == Session["Kayttajanimi"].ToString())
        {
            <style>
                .pictur {
                    transform: scale(1);
                    transition: 2s all;
                }

                    .pictur:hover {
                        transform: rotate(-90deg) scale(1);
                    }
            </style>
            <div class="card mb-3" style="width: 450px; text-align: center; margin-top: 25px">
                <h3 class="card-header" style="background-color:#B71234">Nuoriso Korti</h3>
                <div style="background-color: yellow;" class="card-body">
                    <h5 class="card-title">Nimi : @item.Etunimi @item.Sukunimi</h5>
                </div>
                <img src="/Kuvat/ukkkoKuva.jpg" alt="Alternate Text" height="auto" width="350px" style="margin-left: 50px;" />
                <img class="pictur" style="margin-top: -120px; margin-left: 30px;" src="/Kuvat/Varo iloista Askolaa.png" width="130px" height="auto" />
                <div class="card-body">
                    <h5 class="card-text">Puhelin numero : @item.Puhelinnumero </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h6>Nuoresta @kuvalupa</h6></li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-success" href="/Kortti/View">Muut tiedot</a>
                </div>
                <div style="background-color: #B71234; opacity: .7;" class="card-footer text-muted">
                    <p style="color: black; opacity: 1"> Tänään on : @DateTime.Now.Date.ToString("dd/MM/yyyy")</p>
                </div>

            </div>
        }

    }
</center>
