@model IEnumerable<NuorisoTaloKortti.Models.Nuoret>
@{
    ViewBag.Title = "View";
}



<div class="text-center">
    <h2> Muut Tiedot</h2>
</div>
<div class="table-responsive">
    <table class="table table-bordered tabble-hover">
        <tr class="bg-info">
            <th>Nuori/Huoltaja</th>
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>@Html.DisplayNameFor(model => model.Puhelinnumero)</th>
            <th>@Html.DisplayNameFor(model => model.Osoite)</th>
            <th>@Html.DisplayNameFor(model => model.Allergiat)</th>
            <th>Sähköposti</th>
            <th>Käyttäjänimi</th>
            <th>@Html.DisplayNameFor(model => model.SyntymaAika)</th>
            <th>@Html.DisplayNameFor(model => model.Kuvauslupa)</th>

        </tr>

        @foreach (var item in Model)
                    {
                        var kuvalupa = "";
                        var syntymaika = item.SyntymaAika.ToString("dd.MM.yyyy");
                        var colori = "bg-danger";
                        if(item.Allergiat == null) 
                        {
                            colori = "bg-success";
                        }
                        if (item.Kuvauslupa.ToString() == "True") {
                            kuvalupa = "Saa otta kuva";

                        }
                        else {
                            kuvalupa = "ei saa otaa kuva";
                        }
                        if (item.Kayttajanimi.ToString() == Session["Kayttajanimi"].ToString()) {

            <tr>
                <td class="bg-warning">Nuori ID : @Html.DisplayFor(modelItem => item.NuoriId) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etunimi)
                    @Html.DisplayFor(modelItem => item.Sukunimi)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Puhelinnumero)</td>
                <td>@Html.DisplayFor(modelItem => item.Osoite)</td>


                <td class=@colori>@Html.DisplayFor(modelItem => item.Allergiat)</td>
                <td>@Html.DisplayFor(modelItem => item.SPosti)</td>
                <td>@Html.DisplayFor(modelItem => item.Kayttajanimi)</td>
                <td>@syntymaika</td>
                <td>@kuvalupa</td>


            </tr>

            <tr>
                <td class="bg-warning">Huoltaja ID : @Html.DisplayFor(modelItem => item.Huoltajat.HuoltajaId) </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Huoltajat.Etunimi)
                    @Html.DisplayFor(modelItem => item.Huoltajat.Sukunimi)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Huoltajat.Puhelinnumero)</td>
                <td>@Html.DisplayFor(modelItem => item.Huoltajat.Osoite)</td>
            </tr>



            }
        }
    </table>
    <div><a class="btn btn-danger" href="/Kortti/Index">Takaisin</a></div>
</div>