@model IEnumerable<NuorisoTaloKortti.Models.Nuoret>

@{
    ViewBag.Title = "View";
}


<div class="text-center">
    <h2> Minusta</h2>
</div>
<center>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                var kuvalupa = "";
                var syntymaika = item.SyntymaAika.ToString("dd.MM.yyyy");
                var allergia = "Allergiat : " + item.Allergiat;
                var colori = "bg-danger";
                if (item.Allergiat == null)
                {
                    allergia = "Ei ole tietioa allergiasta";
                    colori = "bg-success";
                }
                if (item.Kuvauslupa.ToString() == "True")
                {
                    kuvalupa = "Saa otta kuva";

                }
                else
                {
                    kuvalupa = "ei saa otaa kuva";
                }
                if (item.Kayttajanimi.ToString() == Session["Kayttajanimi"].ToString())
                {
                    <style>
                        .pictur {
                            transform: scale(1);
                            transition: 2s all;
                        }

                            .pictur:hover {
                                transform: rotate(-90deg) scale(1);
                            }
                    </style>
                    <div class="col-lg">
                        <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded; card mb-1" style=" text-align: center; padding: 1px; max-width: 25rem;">
                            <div>
                                <h3 class="card-header" style="margin-top: 1px; background-color:#B71234">Huoltaja id:  @item.Huoltajat.Etunimi</h3>
                                <div style="background-color: #ffed00;" class="card-body; padding: 15px;">
                                    <h5 class="card-title">Nimi : @item.Huoltajat.Etunimi @item.Huoltajat.Sukunimi</h5>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h5>Puhelinnumero : @item.Huoltajat.Puhelinnumero</h5></li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h6>Osoite : @item.Osoite <br /> @item.Postinumero @item.Postitoimipaikat.Postitoimipaikka </h6></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card h-100 shadow-lg p-3 mb-5 bg-body rounded; card mb-1" style=" text-align: center; padding: 1px; max-width: 25rem;">
                            <div>
                                <h3 class="card-header" style="margin-top: 1px; background-color:#B71234">Nuori id:  @item.NuoriId</h3>
                                <div style="background-color: #ffed00;" class="card-body; padding: 15px;">
                                    <h5 class="card-title">Nimi : @item.Etunimi @item.Sukunimi</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-text" style="padding: 1px;">Puhelinnumero : @item.Puhelinnumero </h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h6>Käyttäjänimi : @item.Kayttajanimi</h6></li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h6> Sähköposti : @item.SPosti </h6></li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h6>Syntymä aika : @syntymaika</h6></li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="background-color: @colori"><h6>@allergia</h6></li>
                                    </ul>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h6>Nuoresta @kuvalupa</h6></li>
                                    </ul>
                                    <p class="list-group-item"><h6>Osoite : @item.Huoltajat.Osoite <br /> @item.Huoltajat.Postinumero @item.Postitoimipaikat.Postitoimipaikka </h6></p>
                                    @Html.ActionLink("Vaihda Salasana", "PsswordChange", new { id = item.NuoriId, @class = "btn btn-primary", @role = "button" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-danger" href="/Kortti/Index">Takaisin</a>
                    </div>


                }

            }

        </div>
    </div>
</center>
